<p>Xin chào <strong>{{fullname}}</strong>,</p>
<p>Chúng tôi xin thông báo rằng bạn đã hủy lịch hẹn khám bệnh thành công với
  thông tin như sau:</p>
<ul>
  <li>Dịch vụ: <strong>{{serviceName}}</strong></li>
  <li>Tên bác sĩ: <strong>{{doctorName}}</strong></li>
  <li>Thời gian: <strong>{{time}}, {{date}}</strong></li>
  <li>Lý do: <strong>{{reason}}</strong></li>
</ul>