<p>Xin chào <strong>{{fullname}}</strong>,</p>
<p>Chúng tôi xin thông báo rằng bạn đã đặt lịch hẹn khám bệnh với chúng tôi vào
  lúc
  <strong>{{time}}</strong>, ngày
  <strong>{{date}}</strong>
  thành công!</p>
<p>Thông tin cuộc hẹn như sau:</p>
<ul>
  <li>Dịch vụ: <strong>{{serviceName}}</strong></li>
  <li>Tên bác sĩ: <strong>{{doctorName}}</strong></li>
</ul>
<p>Bác sĩ sẽ sớm thấy yêu cầu của bạn.</p>
<p>Cảm ơn bạn đã tin tưởng và lựa chọn dịch vụ của chúng tôi.</p>