<p>Xin chào <strong>{{fullname}}</strong>,</p>
<p>Chúng tôi xin thông báo rằng cuộc hẹn khám bệnh của bạn vào lúc
  <strong>{{time}}</strong>, ngày
  <strong>{{date}}</strong>
  đã được xác nhận!</p>
<p>Thông tin cuộc hẹn như sau:</p>
<ul>
  <li>Dịch vụ: <strong>{{serviceName}}</strong></li>
  <li>Tên bác sĩ: <strong>{{doctorName}}</strong></li>
</ul>
<p>Xin vui lòng có mặt trước 15 phút để làm các thủ tục cần thiết, xin trân
  trọng cảm ơn!</p>